{{#if posts}}
<div>
  {{#each posts as |post|}}
  <div class="post-cont">
    <a href='/edit-post/{{id}}'>
      <div>{{title}}
    </a>posted on {{format_time date_created}}
  </div>

</div>
{{/each}}
</div>
{{/if}}

<button class="btn btn-primary new-post" type="button" onclick="location.href='/new-post';">New Post</button>