<section>
  <div class="post-cont">
    <h3 class="post-title"><span class="title-pop">{{post.title}}</span> created by {{post.user.username}} on
      {{format_time
      post.date_created}}</h3>
    <p class="post-content">{{post.content}}</p>
    <button class="btn btn-danger" id='delete-post' type="button">Delete Entry</button>
  </div>
</section>
<br>
<section class="mt-3">
  <div>
    <h3 class="post-title">Update Post</h3>
  </div>
  <form class="form">
    <div class="form-group">
      <div>
        <label for="title-input" class="form-label">
          <h5>Change Title</h5>
        </label>
        <input class="form-input" type="text" id="title-input"></input>
      </div>
      <div class="update-post-cont">
        <label for="content-input" class="form-label">
          <h5>Change Content</h5>
        </label>
        <textarea class="form-input ms-2" type="text" id="content-input"></textarea>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" id="update-post" type="submit">Update</button>

    </div>
  </form>
</section>

<script src="/js/deletePost.js"></script>
<script src="/js/updatePost.js"></script>