<div>
  {{#each posts as |post|}}
  <a href='/comment/{{id}}'>
    <div>{{post.title}}</div>
  </a>
  <div>Submitted by {{post.user.username}} on {{format_time post.date_created}}</div>
  {{/each}}
</div>