<section class="home-cont">
  {{#each posts as |post|}}
  <div class="post-cont">
    <a href='/comment/{{id}}'>
      <div>{{post.title}}</div>
    </a>
    <div>Submitted by {{post.user.username}} on {{format_time post.date_created}}</div>
  </div>
  {{/each}}
</section>