<div>
  <div>
    <form id="loginForm">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div>
          <label for="emailInput">Email</label>
          <input class="form-control" type="text" id="emailInput" />
        </div>
        <div>
          <label for="passwordInput">Password</label>
          <input class="form-control" type="password" id="passwordInput" />
        </div>
        <div>
          <button class="btn" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <div>
    <a class="btn" href="/createAccount">Create Account</a>
  </div>
</div>

<script src="./js/login.js"></script>