<div>
  <div>
    <form id="loginForm">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div>
          <label for="usernameInput">Username</label>
          <input class="form-input" type="text" id="usernameInput" />
        </div>
        <div>
          <label for="passwordInput">Password</label>
          <input class="form-input" type="password" id="passwordInput" />
        </div>
        <div>
          <button class="btn" type="submit">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <div>
    <a class="btn" href="/register">Create Account</a>
  </div>
</div>

<script src="/js/login.js"></script>