<form id="newPostForm">
  <h2>Create Post</h2>
  <div>
    <label for="titleInput">Title</label>
    <input class="form-control" type="text" id="titleInput" />
  </div>
  <div>
    <label for="contentInput">Content</label>
    <textarea class="form-control" id="contentInput"></textarea>
  </div>
  <div>
    <button class="btn" type="submit">Post</button>
  </div>
</form>
<script src="/js/newPost.js"></script>