<form class="newPostForm">
  <h2>Create Post</h2>
  <div>
    <label class="form-label">Title</label>
    <input type="input" class="form-control" id="title-input" aria-describedby="emailHelp">
    <div class="form-text"></div>
  </div>
  <div>
    
    <label for="postContentInput" class="form-label">Content</label>
    <textarea class="form-control" aria-label="With textarea" id="contentInput"></textarea>
  </div> 
 
    <button class="btn btn-primary" type="submit">Create</button> 
    
  </div>
</form>
<script src="/js/newPost.js"></script>
