<div>
  <div>
    <form id="registerForm">
      <div class="card">
        <div class="card-header">
          Register
        </div>
        <div>
          <label for="usernameRegInput">Username</label>
          <input class="form-control" type="text" id="usernameRegInput" />
        </div>
        <div>
          <label for="passwordRegInput">Password</label>
          <input class="form-control" type="password" id="passwordRegInput" />
        </div>
        <div>
          <button class="btn" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <div>
    <a class="btn" href="/login">Login Instead</a>
  </div>
</div>

<script src="/js/register.js"></script>