/* Main styles */
body {
  background-color: lightslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  border-bottom: solid black;
}

.container {
  min-height: calc(100vh - 133.14px);
}

footer {
  padding: 30px;
  border-top: solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  background-color: #0d6efd;
}

.btn {
  border: black 1px solid;
}

/* Home Styles */

.home-cont {
  border: solid black 3px;
  padding: 5px;
  background-color: #0d6efd;
}

.post-cont {
  border: 2px solid black;
  padding: 5px;
  margin-top: 3px;
  background-color: lightsteelblue;
}

.post-cont a {
  text-decoration: none;
  color: darkblue;
}

.post-cont a:hover {
  text-decoration: underline;
  color: darkmagenta;
}

/* New post styles */
.new-post {
  width: 35%;
  margin: auto;
  margin-top: 3px;
}

.title-pop {
  color: darkblue;
  font-size: 150%;
}

.post-title {
  border-bottom: dashed 2px black;
}

.post-content {
  font-size: 115%;
}

#title-input {
  margin-left: 38px;
}

#content-input {
  width: 75%;
}

.update-post-cont {
  display: flex;
  align-items: center;
}

/* Login Page Styles */
.card {
  border: black solid 2px;
  padding: 3px;
  background-color: lightsteelblue;
}

.card-header {
  background-color: #0d6efd;
  border-bottom: black dashed 2px;
}

/* Comment page styles */
.post-summ {
  border-bottom: solid black 2px;
}

.comment-cont {
  background-color: lightsteelblue;
  border: black solid 2px;
  padding: 3px;
}

.comment-section {
  border-bottom: black dashed 2px;
  padding: 3px;
}
